body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.app {
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    display: block;
    position: relative;
    overflow-x: hidden;
}

div.app > * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (orientation: portrait) {
    .app {
        max-width: 100vh;
    }
}
